{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing blog</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
{{end}}