<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing blog</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<div class="container">
    <img src="/assets/amazing_logo.png" alt="Amazing logo">
    <div class="text-container">
        <h1>The amazing blog</h1>
    </div>
</div>
<button class="button button1">Log In</button>
</body>
</html>
